<h1>Rain Simulation</h1>

<table>
    <tr>
        <td>
            <input id="rdInputValues" type="radio" name="group1" value="inputValues" checked>
            Ingresar Media y Desvio Standard
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <input id="rdInputFile" type="radio" name="group1" value="inputFile">
            Importar archivo con distribucion y frecuencia acumulada
        </td>
    </tr>
</table>

<br />

<div id="inputValuesDiv" style="background-color:#D0F5A9; width:300px; vertical-align:middle; background-color:#D0F5A9; border-width:1px; border-color:Gray; border-style:solid;" >

<div style="border:1px solid Gray; background-color:Silver; margin:20px; font-family:Comic Sans MS; font-size:small">
    <p>-> Formato de entrada para la simulacion:</p>
    <p>- Valor de la media y la desviación estandar de la distribucion.</p>    
    <p>(Considerarlo para cada mes: Enero, Febrero, etc.)</p>
    <p>NO DEJAR VACIO LOS INPUTS</p>
</div>

    @using (Html.BeginForm("MeanDesvSimulation", "Simulation"))
    {
        <table>
            <tr>
                <td>
                    <label>Media</label>
                </td>
                <td>
                    <input name="mean" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Desvio</label>
                </td>
                <td>
                    <input name="std_dev" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Cantidad de sucesos a seleccionar</label>
                </td>
                <td>
                    <input name="numberOfEvents" type="text" />
                </td>
            </tr>        

            <tr><td colspan="2"></td></tr>
            <tr><td colspan="2"></td></tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Simular" />
                </td>
            </tr>
        </table>
    }
</div>

<div id="inputFileDiv" style="display:none; vertical-align:middle; background-color:#D0F5A9; border-width:1px; border-color:Gray; border-style:solid; width:550px" >

<div style="border:1px solid Gray; background-color:Silver; margin:20px; font-family:Comic Sans MS; font-size:small">
    <p>-> Formato de entrada para la simulacion:</p>
    <p>- Rango de valores con limite inferior y superior.</p>
    <p>- Frecuencia acumulada para el rango.</p>
    <p>(Debiera estar divido por meses en un excel; un sheet para Enero, para Febrero, etc.)</p>
    <p>(Por ahora solo funciona con datos harcodeados usando la distribucion de Diciembre del caso de estudio que nos pasaron)</p>
    <p>NO DEJAR VACIO LOS INPUTS</p>
</div>

@using (Html.BeginForm("InputFileSimulation", "Simulation"))
{
    <table>
        <tr>
            <td>
                <label>Archivo con rangos, y probabilidad acumulada</label>
            </td>
            <td>                
                <input id="importFile" type="file" />                
            </td>
        </tr>
        <tr>
            <td>
                <label>Cantidad de sucesos a seleccionar</label>
            </td>
            <td>
                <input name="numberOfEvents" type="text" />
            </td>
        </tr>

        <tr><td colspan="2"></td></tr>
        <tr><td colspan="2"></td></tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Simular" />
            </td>
        </tr>
    </table>
}
</div>

